<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544274598956-4a2l34onoik5nn8glqj5keqvj0k3u4ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544274598956-4a2l34onoik5nn8glqj5keqvj0k3u4ku</string>
	<key>API_KEY</key>
	<string>AIzaSyAiX7FF2YyBTceMu2LLTCl66an5ORybQj4</string>
	<key>GCM_SENDER_ID</key>
	<string>544274598956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stanford.InstagramSwiftUiTutorial</string>
	<key>PROJECT_ID</key>
	<string>swiftuiinstagramclone</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiinstagramclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544274598956:ios:6c1eb31042213291151589</string>
</dict>
</plist>